* {
  margin: 0;
  font-family: Arial;
  color: #A1A4AB;
  size: 14px;
}

.content-wrapper {
  display: flex;
  justify-content: center;
}

.nav-bar {
  margin-top: 0;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white;
  z-index: 1;
}
.nav-bar .nav-top {
  background-color: black;
  height: 30px;
  width: 100%;
  display: flex;
  padding: 0 20px;
  letter-spacing: 2px;
  justify-content: center;
}
.nav-bar .nav-top h5 {
  color: white;
  align-self: center;
}
.nav-bar hr {
  margin-bottom: 0;
  max-width: 920px;
  margin: auto;
}

.nav-area {
  display: flex;
  justify-content: space-around;
  height: 121px;
}
.nav-area .nav-bottom {
  display: flex;
  justify-content: center;
  width: 860px;
}
.nav-area .nav-bottom .logo {
  display: flex;
  align-self: center;
}
.nav-area .nav-bottom .logo img {
  width: 147px;
  height: 30px;
}
.nav-area .nav-bottom .nav-links {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.nav-area .nav-bottom .nav-links .help {
  display: flex;
  justify-content: space-around;
  height: 50%;
  padding-left: 20%;
  align-items: center;
  margin-top: 8px;
}
.nav-area .nav-bottom .nav-links .help a {
  margin: 0 5px;
  text-decoration: none;
  font-size: 11px;
  letter-spacing: 1px;
  font-weight: bolder;
  border-right: 1px solid #A1A4AB;
  padding-right: 14px;
}
.nav-area .nav-bottom .nav-links .help a:hover {
  color: black;
  cursor: pointer;
}
.nav-area .nav-bottom .nav-links .help a:first-child {
  color: #d11b1b;
}
.nav-area .nav-bottom .nav-links .help .search input {
  background-color: rgba(161, 164, 171, 0.5);
  border: 0 solid transparent;
  color: white;
  width: 90%;
  margin-right: 3px;
  padding-left: 5px;
}
.nav-area .nav-bottom .nav-links .social i:hover {
  color: black;
  cursor: pointer;
}
.nav-area .nav-bottom .nav-links .tabs {
  display: flex;
  justify-content: flex-end;
  height: 50%;
}
.nav-area .nav-bottom .nav-links .tabs a {
  margin: 0 4px;
  padding: 0 4px;
  text-decoration: none;
  font-size: 15px;
  font-weight: bolder;
}
.nav-area .nav-bottom .nav-links .tabs a:hover {
  color: black;
  cursor: pointer;
}

hr {
  margin-bottom: 30px;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 860px;
  margin-top: 180px;
}
.content .slider-block {
  display: flex;
  margin-bottom: 30px;
  width: 100%;
}
.content .slider-block .slider-container {
  display: flex;
  max-width: 100%;
  max-height: 320.99px;
}
.content .slider-block .slider-container img {
  width: 50%;
  height: 100%;
  opacity: 1;
  filter: alpha(opacity=100);
}
.content .slider-block .slider-container img:hover {
  opacity: 0.3;
  filter: alpha(opacity=30);
  cursor: pointer;
}
.content .head-block {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.content .head-block .heading {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}
.content .head-block .holder {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  box-sizing: border-box;
}
.content .head-block .holder img {
  width: 32.6666666667%;
  height: 100%;
  opacity: 1;
  filter: alpha(opacity=100);
}
.content .head-block .holder img:hover {
  opacity: 0.3;
  filter: alpha(opacity=30);
  cursor: pointer;
}
.content .sale-block {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  width: 100%;
}
.content .sale-block .sale-holder {
  display: flex;
  margin-bottom: 30px;
  width: 100%;
}
.content .sale-block .sale-holder img {
  max-width: 100%;
  max-height: 599.99px;
}
.content .sale-block .copy {
  margin-top: 20px;
}
.content .sale-block .copy button {
  margin-top: 20px;
  background-color: #a1a4ab;
  color: white;
  width: 163.13px;
  height: 30.97px;
  cursor: pointer;
}
.content .sale-block .copy button:hover {
  background-color: black;
}
.content .sale-block .copy p {
  font-size: 12px;
  line-height: 15px;
}
.content .feature-block {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  width: 100%;
  justify-content: center;
}
.content .feature-block .video {
  margin-bottom: 30px;
}
.content .feature-block .article {
  margin-top: 20px;
}
.content .feature-block .article button {
  margin-top: 20px;
  background-color: #a1a4ab;
  color: white;
  width: 163.13px;
  height: 30.97px;
  cursor: pointer;
}
.content .feature-block .article button:hover {
  background-color: black;
}
.content .feature-block .article p {
  font-size: 12px;
  line-height: 15px;
}
.content .news-block {
  margin-bottom: 30px;
  width: 100%;
}
.content .news-block h2 {
  text-align: center;
  margin-bottom: 10px;
}
.content .news-block .news-items {
  display: flex;
  margin-bottom: 30px;
  width: 100%;
}
.content .news-block .news-items .holder {
  width: 100%;
  height: 24.5%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.content .news-block .news-items .holder .item {
  width: 24.5%;
  height: 24.5%;
}
.content .news-block .news-items .holder .item img {
  width: 100%;
  height: 100%;
  opacity: 1;
  filter: alpha(opacity=100);
}
.content .news-block .news-items .holder .item img:hover {
  opacity: 0.3;
  filter: alpha(opacity=30);
  cursor: pointer;
}
.content .product-wall {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  width: 100%;
}
.content .product-wall h2 {
  text-align: center;
  margin-bottom: 8px;
}
.content .product-wall .product-holder {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
.content .product-wall .product-holder .product1, .content .product-wall .product-holder .product2, .content .product-wall .product-holder .product3 {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 32.6666666667%;
}
.content .product-wall .product-holder .product1 img, .content .product-wall .product-holder .product2 img, .content .product-wall .product-holder .product3 img {
  width: 100%;
  opacity: 1;
  filter: alpha(opacity=100);
}
.content .product-wall .product-holder .product1 img:hover, .content .product-wall .product-holder .product2 img:hover, .content .product-wall .product-holder .product3 img:hover {
  opacity: 0.3;
  filter: alpha(opacity=30);
  cursor: pointer;
}

.footer {
  display: flex;
  justify-content: center;
  font-size: 10px;
}
.footer .footer-content {
  display: flex;
  justify-content: space-between;
  width: 860px;
  height: 86px;
}
.footer .footer-content .links {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70%;
}
.footer .footer-content .links img {
  width: 30px;
  margin-right: 5px;
}
.footer .footer-content .links a:nth-child(even) {
  border-left: 1px solid #A1A4AB;
  border-right: 1px solid #A1A4AB;
}
.footer .footer-content .links a {
  margin: 0 1px;
  padding: 0 3px;
  text-decoration: none;
  font-size: 9px;
}
.footer .footer-content .links a:hover {
  color: black;
  cursor: pointer;
}
.footer .footer-content .subscribe {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 30%;
}
.footer .footer-content .subscribe label {
  align-self: center;
  text-align: center;
  font-size: 12px;
  font-weight: bolder;
  width: 100%;
}
.footer .footer-content .subscribe .input {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 20px;
}
.footer .footer-content .subscribe .input input {
  background-color: rgba(161, 164, 171, 0.5);
  border: 0 solid transparent;
  color: white;
  width: 90%;
  margin-right: 3px;
  padding-left: 5px;
  color: #a1a4ab;
  width: 70%;
}
.footer .footer-content .subscribe .input button {
  background-color: #a1a4ab;
  color: white;
  width: 163.13px;
  height: 30.97px;
  cursor: pointer;
  border: 0 solid transparent;
  height: 20px;
  width: 30%;
}
.footer .footer-content .subscribe .input button:hover {
  background-color: black;
}

@media screen and (max-width: 768px) {
  .content-wrapper {
    padding-left: 20px;
    padding-right: 20px;
  }

  .content {
    width: 100%;
  }

  .footer-content {
    flex-direction: column;
    height: 100%;
  }
  .footer-content .links {
    width: 100%;
  }
  .footer-content .subscribe {
    width: 100%;
  }
}

/*# sourceMappingURL=output.css.map */
