* {
  margin: 0;
  font-family: Arial;
  color: #a1a4ab;
  size: 14px; }

.content-wrapper {
  display: flex;
  justify-content: center; }

.nav-bar {
  margin-top: 0;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white; }
  .nav-bar .nav-top {
    background-color: black;
    height: 30px;
    width: 100%;
    display: flex;
    padding: 0 20px;
    justify-content: center; }
    .nav-bar .nav-top h5 {
      color: white;
      align-self: center; }

.nav-area {
  display: flex;
  justify-content: space-around;
  height: 121px; }
  .nav-area .nav-bottom {
    display: flex;
    justify-content: center;
    width: 860px; }
    .nav-area .nav-bottom .logo {
      display: flex;
      align-self: center; }
      .nav-area .nav-bottom .logo img {
        width: 147px;
        height: 30px; }
    .nav-area .nav-bottom .nav-links {
      display: flex;
      flex-direction: column;
      width: 100%; }
      .nav-area .nav-bottom .nav-links .help {
        display: flex;
        justify-content: space-around;
        height: 50%;
        padding-left: 20%;
        align-items: center;
        margin-top: 8px; }
        .nav-area .nav-bottom .nav-links .help a {
          margin: 0 5px;
          text-decoration: none; }
        .nav-area .nav-bottom .nav-links .help .search {
          margin: 0 5px; }
          .nav-area .nav-bottom .nav-links .help .search input {
            background-color: rgba(161, 164, 171, 0.5);
            border: 0 solid transparent;
            color: white;
            width: 90%;
            margin-right: 3px;
            padding-left: 5px; }
      .nav-area .nav-bottom .nav-links .tabs {
        display: flex;
        justify-content: flex-end;
        height: 50%; }
        .nav-area .nav-bottom .nav-links .tabs a {
          margin: 0 4px;
          padding: 0 4px;
          text-decoration: none; }

hr {
  margin-bottom: 30px; }

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 860px;
  margin-top: 60px; }

.slider-block {
  display: flex;
  margin-bottom: 30px; }
  .slider-block .slider-container {
    display: flex;
    max-width: 100%;
    max-height: 320.99px; }
    .slider-block .slider-container img {
      width: 50%;
      height: 100%; }

.head-block {
  display: flex;
  flex-direction: column; }
  .head-block .heading {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px; }
  .head-block .holder {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px; }
    .head-block .holder img {
      width: 277px;
      height: 160px; }

.sale-block {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px; }
  .sale-block .sale-holder {
    display: flex;
    margin-bottom: 30px; }
    .sale-block .sale-holder img {
      max-width: 859.99px;
      max-height: 599.99px; }
  .sale-block .copy {
    margin-top: 20px; }
    .sale-block .copy button {
      margin-top: 20px;
      background-color: #a1a4ab;
      color: white;
      width: 163.13px;
      height: 30.97px; }

.feature-block {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  justify-content: center; }
  .feature-block .video {
    margin-bottom: 30px; }
  .feature-block .article {
    margin-top: 20px; }
    .feature-block .article button {
      margin-top: 20px;
      background-color: #a1a4ab;
      color: white;
      width: 163.13px;
      height: 30.97px; }

.news-block {
  margin-bottom: 30px; }
  .news-block h2 {
    text-align: center;
    margin-bottom: 10px; }
  .news-block .news-items {
    display: flex;
    margin-bottom: 30px;
    width: 100%; }
    .news-block .news-items .holder {
      width: 100%; }
      .news-block .news-items .holder .row1, .news-block .news-items .holder .row2, .news-block .news-items .holder .row3, .news-block .news-items .holder .row4 {
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px; }
        .news-block .news-items .holder .row1 .item img, .news-block .news-items .holder .row2 .item img, .news-block .news-items .holder .row3 .item img, .news-block .news-items .holder .row4 .item img {
          width: 204px;
          height: 152px; }

.product-wall {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px; }
  .product-wall h2 {
    text-align: center;
    margin-bottom: 8px; }
  .product-wall .product-holder {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px; }
    .product-wall .product-holder .product1, .product-wall .product-holder .product2, .product-wall .product-holder .product3 {
      display: flex;
      flex-direction: column; }
      .product-wall .product-holder .product1 img, .product-wall .product-holder .product2 img, .product-wall .product-holder .product3 img {
        width: 260px;
        height: 300px; }

.footer {
  display: flex;
  justify-content: center;
  font-size: 10px; }
  .footer .footer-content {
    display: flex;
    justify-content: space-between;
    width: 76%;
    height: 86px;
    padding-top: 20px; }
    .footer .footer-content .links {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 75%; }
      .footer .footer-content .links img {
        width: 30px; }
      .footer .footer-content .links a:nth-child(even) {
        border-left: 1px solid gray;
        border-right: 1px solid gray; }
      .footer .footer-content .links a {
        margin: 0 3px;
        padding: 0 3px;
        text-decoration: none; }
    .footer .footer-content .subscribe {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 40%; }
      .footer .footer-content .subscribe label {
        align-self: center; }
      .footer .footer-content .subscribe .input {
        display: flex;
        justify-content: space-between;
        width: 100%; }
        .footer .footer-content .subscribe .input input {
          background-color: rgba(161, 164, 171, 0.5);
          border: 0 solid transparent;
          color: white;
          width: 90%;
          margin-right: 3px;
          padding-left: 5px; }
        .footer .footer-content .subscribe .input button {
          background-color: #a1a4ab;
          color: white;
          width: 163.13px;
          height: 30.97px;
          border: 0 solid transparent; }

/*# sourceMappingURL=output.css.map */
