@import "abstract/_mixins";
@import "abstract/_variables";

*{
  // border: 1px solid red;
  margin: 0;
  @include font(14px);
}

.content-wrapper{
  display: flex;
  justify-content: center;
}

.nav-bar{
  margin-top: 0;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white;
  z-index: 1;
  .nav-top{
    background-color: black;
    height: 30px;
    width: 100%;
    display: flex;
    padding: 0 20px;
    letter-spacing: 2px;
    justify-content: center;
    h5{
      color: white;
      align-self: center;
    }
  }
  hr{
    margin-bottom: 0;
    max-width: 920px;
    margin: auto;
  }
}

.nav-area{
  display: flex;
  justify-content: space-around;
  height: 121px;
  .nav-bottom{
    display: flex;
    justify-content: center;
    width: 860px;
    .logo{
      display: flex;
      align-self: center;
      img{
        width: 147px;
        height: 30px;
      }
    }
    .nav-links{
      display: flex;
      flex-direction: column;
      width: 100%;
      .help{
        display: flex;
        justify-content: space-around;
        height: 50%;
        padding-left: 20%;
        align-items: center;
        margin-top: 8px;
        a{
          margin: 0 5px;
          text-decoration: none;
          font-size: 11px;
          letter-spacing: 1px;
          font-weight: bolder;
          border-right: 1px solid $main-color;
          padding-right: 14px;
          @include link-hover;
          &:first-child{
            color: #d11b1b;
          }
        }
        .search input{
          @include input;
        }
      }
      .social i{
        @include link-hover;
      }
      .tabs{
        display: flex;
        justify-content: flex-end;
        height: 50%;
        a{
          margin: 0 4px;
          padding: 0 4px;
          text-decoration: none;
          font-size: 15px;
          font-weight: bolder;
          @include link-hover;
        }
      }
    }
  }
}

hr{
  margin-bottom: $bottom-margin;
}

.content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 860px;
  margin-top: 180px;
}

.slider-block{
  display: flex;
  margin-bottom: 30px;
  .slider-container{
    display: flex;
    max-width: 100%;
    max-height: 320.99px;
    img{
      width: 50%;
      height: 100%;
      @include hover;
    }
  }
}

.head-block{
  display: flex;
  flex-direction: column;
  .heading{
    display: flex;
    justify-content: space-between;
    margin-bottom: $bottom-margin;
  }
  .holder{
    display: flex;
    justify-content: space-between;
    margin-bottom: $bottom-margin;
    img{
      width: 277px;
      height: 160px;
      @include hover
    }
  }
}

.sale-block{
  @include block-spacing;
  .sale-holder{
    display: flex;
    margin-bottom: $bottom-margin;
    img{
      max-width: 859.99px;
      max-height: 599.99px;
    }
  }
  .copy{
    margin-top: 20px;
    button{
      margin-top: 20px;
      @include buttons;
    }
  }
}

.feature-block{
  @include block-spacing;
  justify-content: center;
  .video{
    margin-bottom: $bottom-margin;
  }
  .article{
    margin-top: 20px;
    button{
      margin-top: 20px;
      @include buttons;
    }
  }
}

.news-block{
  margin-bottom: 30px;
  h2{
    text-align: center;
    margin-bottom: 10px;
  }
  .news-items{
    display: flex;
    margin-bottom: 30px;
    width: 100%;
    .holder{
      width: 100%;
      .row1, .row2, .row3, .row4{
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
        .item img{
          width: 204px;
          height: 152px;
          @include hover
        }
      }
    }
  }
}

.product-wall{
  @include block-spacing;
  h2{
    text-align: center;
    margin-bottom: 8px;
  }
  .product-holder{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    .product1, .product2, .product3{
      display: flex;
      flex-direction: column;
      img{
        width: 260px;
        height: 300px;
        @include hover
      }
    }
  }
}

.footer{
  display: flex;
  justify-content: center;
  font-size: 10px;
  .footer-content{
    display: flex;
    justify-content: space-between;
    max-width: 76%;
    height: 86px;
    padding-top: 20px;
    .links{
      display: flex;
      align-items: center;
      justify-content: center;
      width: 75%;
      img{
        width: 30px;
        margin-right: 5px;
      }
      & a:nth-child(even){
        border-left: 1px solid $main-color;
        border-right: 1px solid $main-color;
      }
      a{
        margin: 0 1px;
        padding: 0 3px;
        text-decoration: none;
        font-size: 9px;
        @include link-hover;
      }
    }
    .subscribe{
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 40%;
      label{
        align-self: center;
      }
      .input{
        display: flex;
        justify-content: space-between;
        width: 100%;
        input{
          @include input;
        }
        button{
          @include buttons;
          border: 0 solid transparent;
        }
      }
    }
  }
}

// @media screen (max-width:768px) {
//   .header{
//     max-width: 1300px;
//   }
//   .logo{
//     img{
//       // min-height: 75%; work here
//     }
//   }
// }
//
// @media screen and (max-width: 740px) {
//   .search {
//     display: hide; } }
