@mixin font($font-size){
  font:{
    family: Arial;
  }
  color: $main-color;
  size: $font-size;
}

@mixin buttons {
  background-color: rgb(161,164,171);
  color: white;
  width: 163.13px;
  height: 30.97px;
  cursor: pointer;
}

@mixin block-spacing {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

@mixin grid {
  display: flex;
  width: 204px;
  height: 152px;
}

@mixin input {
  background-color: rgba(161,164,171,.5);
  border: 0 solid transparent;
  color: white;
  width:90%;
  margin-right: 3px;
  padding-left: 5px;
}

@mixin hover {
  opacity: 1.0;
  filter: alpha(opacity=100);
  &:hover{
    opacity: 0.3;
    filter: alpha(opacity=30);
    cursor: pointer;
  }
}

@mixin hr($bottom-margin) {
  max-width: 920px;
  margin: auto;
  margin-bottom: $bottom-margin;
}
