@mixin font($font-size: 14px){
  font:{
    family: Arial;
  }
  color: rgb(161,164,171);
  size: $font-size;
}

@mixin buttons {
  background-color: rgb(161,164,171);
  color: white;
  width: 163.13px;
  height: 30.97px;
}

@mixin block-spacing {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}
